.top {
  display: flex;
  flex-direction: column;  /* Align items vertically */
  text-align: center; /* Align text content at the center */
}

.bet{
  display: inline-flex;
  text-align: center; 
  justify-content: center;
  padding:10px;
  width:100%;
}

.submit_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}

#player{
  width:100%;
  height:3em;
  margin-bottom: -20px;
}

#q{
  color:grey;
}

.autocomplete-list{
  list-style-type: none;
  background:white;
  border: 2px solid lightgrey;
  border-top-style:none;
  margin:0px;
  padding:0px;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-list li{
  border-bottom: 1px solid lightgrey;
  padding: 8px;
  align-items: left;
  justify-content: left;
  cursor: pointer;
}

#menu{
  width:20%;
  height:3em;
  font-size: 16px;

}

.dropdown{
  width:45%;
  display:block;
}

#wager{
  width:21%;
  font-size: 16px;
  height:3em;
}

#stat{
  width:24%;
  height:3em;
}

.bets{
  display:block;
  width:100%;
}

.bet_border {
  border: 1px solid grey; 
  margin:1px;
  height:30%;
  width:100%;
  justify-content: space-between;
  display:flex;
 
}

.image_style
{
  height:100%;
  width:20%;
  align-items: left;
  margin-left:1%;
}


.bet_progress{
  font-weight: bold;
  font-size: 500%;
  margin-top: 2%;;
  width:20%;
  text-align: left;
  

}

.close_bet{
  align-items: center;
  justify-content: center;
  margin-top: 0.2%;
  margin-right:0.2%;
  height:100%;
  width:5%;
  text-align: right;
}


.info_entry{
  display:block;
  margin-left:5%;
  width:100%
  
}

.bet_entry{
  display:flex;
  font-size: 100%;
  width:100%;
  
}

.period_entry{
  font-size: 90%;
  width:100%;
}


.entire_entry{
  display:'block';
  height:100%;
}
