.top {
  display: flex;
  flex-direction: column;  /* Align items vertically */
  text-align: center; /* Align text content at the center */
}

.bet{
  display: flex;
  text-align: center; /* Align text content at the center */
  justify-content: center;
}

.submit_button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
  
}

#player{
  width:50%;
  height:3em;
  margin-bottom: -20px;
}

#q{
  color:grey;
}

.autocomplete-list{
  list-style-type: none;
  background:white;
  border: 2px solid lightgrey;
  border-top-style:none;
  margin:0px;
  padding:0px;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-list li{
  border-bottom: 1px solid lightgrey;
  
  padding: 8px;
  align-items: left;
  justify-content: left;
  cursor: pointer;
}

#menu{
  width:20%;
  height:3em;
  font-size: 16px;

}

.dropdown{
  display:block;
}

#wager{
  width:15%;
  font-size: 16px;
  height:3em;
}

#stat{
  width:13%;
  height:3em;
}

.bets{
  display:block; 
  width:100%;
}

.bet_border {
  border: 1px solid grey; /* You can adjust the border style as needed */
  margin:1px;
  height:11em;
  width:100%;
  display: flex;
  justify-content: space-between;
 
}

.image_style
{
  height:100%;
  width:15%;
}

.player_info{
  display: flex;
}

#progress{
  font-weight: bold;
  font-size: 60px;
  align-items: right;
  width:20%;

}

#close_bet{
  align-items: right;
  justify-content: end;
}

#bet_entry{
  display:block;
  font-size: 30px;
  width:100%;
}
